body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(201 213 213);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.photo1,
.photo2,
.photo3,
.photo4,
.photo5,
.photo6,
.photo7,
.photo8,
.photo9,
.photo10,
.photo11,
.photo12 {
    background-color: white;
    padding: 20px 20px 50px;
    width: 430px;
    height: 410px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 70%);
    position: absolute;
}

.brothers,
.gleb {
    height: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0 0;
}

.text {
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

.photo1 {
    content: "";
    top: 304px;
    left: 72px;
    transform: rotate(-9deg) scale(1);
    z-index: 1;
}

.photo1:hover {
    transform: rotate( 17deg) scale(0.9);
    transition: all 500ms;
}

.photo2 {
    content: "";
    top: 36px;
    left: 968px;
    transform: rotate( 17deg) scale(0.9);
    z-index: 0;
}

.photo2:hover {
    transform: rotate( -4deg) scale(01.1);
    transition: all 500ms;
    z-index: 2;
}

.photo3 {
    content: "";
    top: -45px;
    right: -21px;
    z-index: 1;
    transform: rotate( -8deg) scale(0.7);
}

.photo3:hover {
    transition: all 500ms;
    z-index: 1;
    transform: translate3d(-58px, 66px, 15px);
}

.photo4 {
    content: "";
    top: 361px;
    right: 718px;
    transform: rotate( -3deg) scale(0.9);
}

.photo4:hover {
    width: 300px;
    content: "";
    z-index: 2;
    top: 361px;
    right: 781px;
    transform: rotate( -3deg) scale(0.9);
}

.photo5 {
    width: 300px;
    content: "";
    top: 5px;
    left: 653px;
    transform: rotate( 2deg) scale(0.9);
    z-index: 1;
}

.photo5:hover {
    transition-duration: 500ms;
    /* transition: all 500ms; */
    z-index: 1;
    transform: rotate( 360deg);
    transform-origin: right;
}

.photo6 {
    content: "";
    top: 124px;
    left: 189px;
    transform: rotate( -13deg) scale(1.1);
}

.photo6:hover {
    transition: all 500ms;
    z-index: 1;
    transform: translate3d(-9px, -21px, 31px);
}

.photo7 {
    content: "";
    top: 51px;
    left: 47px;
    transform: rotate( 0deg) scale(1.1);
}

.photo7:hover {
    width: 399px;
    content: "";
    z-index: 1;
    top: 4px;
    right: 784px;
    transform: rotate( -3deg) scale(0.9);
}

.photo8 {
    content: "";
    bottom: 226px;
    right: 124px;
    transform: rotate(16deg) scale(1.2);
}

.photo8:hover {
    width: 300px;
    transform: rotate( 0deg) scale(1.3);
    transition: all 500ms;
    z-index: 1;
}

.photo9 {
    content: "";
    top: 274px;
    left: 970px;
    transform: rotate( -17deg) scale(1.1);
}

.photo9:hover {
    transition: all 500ms;
    z-index: 1;
    transform: translate3d(-58px, 66px, 15px);
}

.photo10 {
    content: "";
    top: 172px;
    left: 356px;
    transform: rotate( 8deg) scale(0.8);
}

.photo10:hover {
    transform: rotate( 16deg) scale(1.2);
    z-index: 1;
}

.photo11 {
    content: "";
    bottom: 252px;
    right: 204px;
    transform: rotate( 2deg) scale(1);
}

.photo11:hover {
    width: 300px;
    transform: rotate( 0deg) scale(1.3);
    transition: all 500ms;
    z-index: 1;
}

.photo12 {
    width: 200px;
    content: "";
    top: 322px;
    left: 495px;
    transform: rotate( 8deg) scale(0.8);
}

.photo12:hover {
    z-index: 1;
}