@media screen and (max-width: 1670px) {
    .about {
        height: auto;
    }
}

@media screen and (max-width: 1625px) {
    .footer__box-small {
        margin-left: 20px;
    }
    .footer__follow-us {
        font-size: 16px;
        font-weight: 18px;
        padding-left: 70px;
        margin-right: 17px;
    }
}

@media screen and (max-width: 1400px) {
    .header__navigation {
        display: none;
        position: fixed;
        background-color: green;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999999;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 150px;
    }
}

@media screen and (max-width: 1336px) {
    .story__pic::after {
        display: none;
    }
    .story__content {
        margin-right: 0;
        margin-bottom: 100px;
    }
    .story__wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 1233px) {
    .blog__box::after {
        display: none;
    }
    .blog__wrapp {
        padding: 90px 0 90px;
    }
    .blog__content {
        padding: 100px 34px 0 0px;
    }
    .footer__content {
        justify-content: space-around;
        padding-bottom: 60px;
        padding-top: 0;
    }
    .footer__logo {
        width: 100%;
        text-align: center;
        margin-bottom: 70px;
    }
    .footer__info_item {
        font-size: 15px;
    }
    .footer__info {
        width: 50%;
        max-width: 165px;
    }
    .footer__info_heading {
        font-size: 25px;
    }
    .footer__pay {
        width: 50%;
        max-width: 250px;
    }
    .footer__pay-heading {
        font-size: 25px;
    }
    .footer__block {
        width: 100%;
        flex-basis: 500px;
    }
    .footer__block-heading {
        font-size: 25px;
    }
    .footer__btn-top {
        right: 35px;
    }
    .footer__follow-us {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 971px) {
    .footer__block {
        margin-top: 80px;
    }
}

@media screen and (max-width: 1100px) {
    .testimonials__excerpt::before {
        top: -15px;
        left: -5px;
        font-size: 153px
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 45px;
        line-height: 40px;
    }
    .header__logo {
        top: 66px;
    }
    .header__right-block {
        margin-bottom: 100px;
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__item {
        margin: 0 0 50px;
    }
    .header__burger-btn {
        display: block;
        z-index: 9999999;
    }
    .header-heading {
        font-size: 65px;
    }
    .smoothies {
        padding: 90px 0 90px;
    }
    .smoothies__heading {
        font-size: 20px;
    }
    .smoothies__wrapper {
        max-width: 100%;
    }
    .smoothies__card {
        width: 50%;
    }
    .smoothies__card:nth-child(3) {
        border-left: none;
        border-top: 1px solid grey;
    }
    .smoothies__card:nth-child(7) {
        border-left: none;
    }
    .smoothies__card:nth-child(7) {
        border-left: none;
    }
    .smoothies__card:nth-child(4) {
        border-top: 1px solid grey;
    }
    .about {
        height: auto;
    }
    .about__img {
        padding-bottom: 60px;
    }
    .about__text {
        margin-left: 20px;
        margin-right: 0;
    }
    .about__btn {
        max-width: 385px;
    }
    .story__wrapper {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .story__pic {
        margin-left: auto;
    }
    .story__content {
        margin-bottom: 80px;
        margin-right: auto;
    }
    .testimonials {
        padding: 115px 30px 85px 30px;
    }
    .testimonials__excerpt {
        flex-direction: column-reverse;
    }
    .testimonials__title {
        margin-bottom: 90px;
    }
    .testimonials__avatar {
        margin-bottom: 85px;
        padding-left: 0;
    }
    .testimonials__blockquote {
        margin-bottom: 25px;
    }
    .testimonials::after {
        display: none;
    }
    .testimonials__excerpt::before {
        display: none;
    }
    .blog__wrapp {
        justify-content: flex-start;
    }
    .blog__box {
        width: 100%;
    }
    .blog__box::after {
        display: none;
    }
    .blog__content {
        margin-left: 0px;
        padding: 40px 0px 0 0px;
    }
    .blog__img {
        width: 100%;
        max-width: 680px;
    }
    .instagram__wrapper {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 500px) {
    .products__img {
        width: 23%;
    }
    .products__box {
        min-width: 340px;
        padding: 70px 0px 70px;
    }
    .products__heading {
        margin: 25px 0 30px;
    }
    .products__heading {
        font-size: 21px;
    }
}

@media screen and (max-width: 431px) {
    .about__btn {
        font-size: 16px;
    }
    .about__btn {
        max-width: 330px;
    }
    .about__btn::before {
        right: 4%;
    }
    .about__title-green::after {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .title {
        font-size: 40px;
        line-height: 45px;
    }
    .container {
        padding: 0 10px;
    }
    .header__logo {
        top: 110px;
    }
    .header__btn {
        margin-top: 50px;
    }
    .header-heading {
        display: none;
    }
    .smoothies {
        padding: 50px 10px;
    }
    .smoothies__text {
        font-size: 16px;
    }
    .smoothies__card {
        padding: 0;
    }
    .smoothies__heading {
        font-size: 18px;
    }
    .about__wrapper {
        justify-content: flex-start;
    }
    .about__text {
        margin-left: 0px;
    }
    .about__list {
        font-size: 18px;
        line-height: 30px;
        margin-top: 50px
    }
    .about__title {
        padding-top: 40px;
    }
    .about__title-green::after {
        display: none;
    }
    .products__box {
        min-width: 230px;
        padding: 60px 0 60px;
    }
    .products__heading {
        font-size: 19px;
        margin: 24px 0 36px;
        font-size: 16px;
    }
    .story__wrapper {
        padding-top: 60px;
        padding-bottom: 70px;
        align-items: flex-start;
    }
    .products__img {
        width: 30%;
    }
    .story__text {
        font-size: 16px;
        margin: 35px 0 45px;
    }
    .story__pic::after {
        display: none;
    }
    .testimonials {
        padding: 54px 10px 90px 10px;
    }
    .testimonials__excerpt::before {
        display: none;
    }
    .testimonials__santa {
        font-size: 16px;
    }
    .testimonials__blockquote {
        font-size: 16px;
    }
    .blog__wrapp {
        padding: 75px 0 90px;
    }
    .blog__heading {
        font-size: 26px;
    }
    .blog__date {
        font-size: 14px;
    }
    .blog__text {
        padding: 0;
        font-size: 20px;
        margin-top: 20px;
    }
    .instagram__card {
        min-width: 250px;
        margin-bottom: 70px;
    }
    .footer__content {
        justify-content: flex-start;
    }
    .footer__info {
        width: 100%;
        margin-bottom: 70px;
    }
    .footer__pay {
        width: 100%;
        max-width: 340px;
        margin-bottom: 70px;
    }
    .footer__info_heading {
        margin-bottom: 35px;
    }
    .footer__pay-item {
        flex-basis: 20px;
    }
    .footer__pay-list {
        max-width: 340px;
    }
    .footer__block {
        margin: 0;
    }
    .footer__box-small {
        margin-left: 0;
    }
    .footer__follow-us {
        font-size: 14px;
    }
    .footer__block-input {
        font-size: 14px;
    }
    .footer__btn-top {
        right: 14px;
    }
    .footer__btn-top::after {
        display: none;
    }
}