.menu {
    &__list {
        text-transform: uppercase;
        font-size: 16px;
        color: #ffffff;
        line-height: 40px;
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: 36px;
        &:hover {
            transform: scale(1.2);
            transition-duration: 500ms;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        text-decoration: none;
        font-family: 'Muli-Bold', sans-serif;
        font-weight: 800;
    }
}