        .social {
            &__list {
                display: flex;
            }
            &__list-item {
                height: 35px;
                min-width: 35px;
                border-radius: 50%;
                background-color: white;
                text-align: center;
                margin-right: 14px;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    transform: scale(1.2);
                    transition-duration: 500ms;
                }
                &__img {
                    position: relative;
                    top: 3px;
                }
            }
        }