.header {
    background-image: url(./../images/header/big-img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    &__top {
        padding-top: 90px;
        margin-bottom: 114px;
        position: relative;
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        &:hover {
            transition-duration: 500ms;
            transform: translateX(-101px) scale(1.3);
        }
    }
    &__burger-btn {
        position: fixed;
        top: 50px;
        right: 25px;
        display: none;
        &-icon {
            width: 50px;
            position: fixed;
            top: 50px;
            right: 25px;
        }
    }
    &__right-block {
        display: flex;
        align-items: center;
    }
    &__personal {
        margin-right: 132px;
        position: relative;
        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 47px;
            background-color: white;
            opacity: 0.3;
            position: absolute;
            top: 11px;
            left: 203px;
        }
    }
    &__social {
        width: 123px;
    }
    &__content {
        display: flex;
        justify-content: center;
    }
    &__btn {
        padding-right: 87px;
        width: 280px;
        height: 70px;
        font-size: 24px;
        line-height: 40px;
        position: relative;
        cursor: pointer;
        &:hover {
            transform: translate(10px);
            transition-duration: 500ms;
        }
        &::after {
            content: "";
            background-image: url(./../images/header/Arrow.png);
            background-repeat: no-repeat;
            background-position: bottom;
            position: absolute;
            width: 30px;
            height: 16px;
            right: 33px;
            bottom: 27px;
        }
    }
    &-heading {
        color: white;
        font-size: 95px;
        line-height: 95px;
        text-align: center;
        margin: 10px;
    }
}