.instagram {
    display: flex;
    flex-direction: column;
    &__title {
        font-family: "Muli-ExtraBold";
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 41px;
        font-size: 24px;
        line-height: 40px;
        padding-left: 58px;
        letter-spacing: 0;
    }
    &__link {
        text-decoration: none;
        color: #0aa566;
        font-size: 24px;
        line-height: 40px;
        font-family: "Muli-Bold", sans-serif;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url(./../images/instagram/Icon.png);
            width: 26px;
            height: 26px;
            background-position: center;
            background-repeat: no-repeat;
            top: 7px;
            left: -38px;
        }
    }
    &__wrapper {
        display: flex;
        margin-bottom: 5px;
        overflow: auto;
    }
    &__card {
        flex-grow: 1;
        width: 20%;
        min-width: 300px;
        position: relative;
        // background: linear-gradient(135deg, rgb(249 249 249 / 0%) 86%, rgb(109 109 109 / 48%));
        &::after {
            content: "";
            position: absolute;
            background-image: url(./../images/instagram/Iconwite.png);
            background-position: center center;
            background-repeat: no-repeat;
            bottom: 15px;
            right: 20px;
            width: 26px;
            height: 26px;
        }
    }
    &__img {
        position: relative;
        z-index: -2;
        width: 100%;
        height: 100%;
    }
}