.products {
    &__wrapper {
        display: flex;
        overflow-x: scroll;
    }
    &__box {
        display: flex;
        width: 480px;
        min-width: 465px;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        padding: 125px 0px 80px;
    }
    &__heading {
        font-size: 25px;
        margin: 24px 0 55px;
        text-align: center;
        color: white
    }
    &__italik {
        font-weight: 500;
    }
    &__box--red {
        background-color: #672a15;
    }
    &__box--green {
        background-color: #198674;
    }
    &__box--yellow {
        background-color: #f7af3a;
    }
    &__box--orange {
        background-color: #bf4c1c;
    }
    &__btn {
        text-align: center;
        width: 198px;
        display: inline-block;
        text-decoration: none;
        padding: 17px 128px 15px 33px;
        line-height: 22px;
        border: 2px solid #ffffff;
        position: relative;
        &:hover {
            box-shadow: 0px 0px 0px 2px #f90914, 0px 0px 0px 7px #a7f9c9, 0px 0px 0px 9px #f90914, 0px 0px 5px 10px #ff4d00;
            transition-duration: 500ms;
        }
        &__btn::before {
            content: '';
            display: block;
            background-image: url(./../images/products/Arrow-white.png);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 25px;
            bottom: 20px;
            width: 30px;
            height: 16px;
        }
    }
}