.testimonials {
    background-color: #6b2c1a;
    padding: 93px 0 80px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 410px;
        height: 300px;
        background-image: url(./../images/testimonials/Dots.png);
        top: -85px;
        right: 42px
    }
    &__excerpt {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 734px;
        margin: 0 auto;
        margin-bottom: 80px;
        &::before {
            content: "Sarah A";
            position: absolute;
            top: -8px;
            left: -147px;
            font-size: 200px;
            line-height: 40px;
            color: #59210f;
            font-weight: 700;
        }
    }
    &__avatar {
        padding-left: 35px;
        z-index: 1;
    }
    &__wrap {
        margin-bottom: 22px;
        align-items: center;
        max-width: 455px;
        z-index: 1;
    }
    &__blockquote {
        color: #ffffff;
        text-align: center;
    }
    &__santa {
        color: red;
        color: #f7ae3b;
        display: block;
        text-align: center;
    }
    &__title {
        text-align: center;
        position: relative;
        margin-bottom: 158px;
        margin-top: 23px;
    }
    &__love {
        text-transform: uppercase;
        color: #f2612d;
    }
    &__arrow {
        background-image: url(./../images/testimonials/Arrow.png);
        width: 41px;
        height: 16px;
        background-color: transparent;
        margin-right: 90px;
        background-repeat: no-repeat;
        cursor: pointer;
        border: none;
    }
    &__arrow:hover {
        transform: scale(1.3);
        transition-duration: 500ms;
    }
    &__arrow--left {
        transform: rotate(180deg);
    }
    &__arrow--left:hover {
        transform: scale(1.3);
        transition-duration: 500ms;
    }
    &__controls {
        text-align: center;
    }
}